{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="home">
	<div id="announcements" class="content"> Adipisicing nesciunt et fuga cumque dicta Neque possimus dignissimos molestias eos magnam Laborum fuga molestias ut veritatis at Ab laboriosam magni odio id cupiditate! Nam eveniet assumenda ab velit voluptate. </div>
	<div id="main-content" class="content"> Amet beatae numquam animi odio ut, dolore quae suscipit. Quis dolorem perferendis tenetur iusto aliquam Cumque molestias et assumenda praesentium voluptates dignissimos perspiciatis Aliquid corrupti dolorum officiis architecto aspernatur, placeatSit facilis quisquam ab voluptatem eius? Obcaecati perferendis iste quibusdam quisquam minima. Nulla a dolorem est cum aspernatur Dolorum minima voluptatum ex vitae voluptates Quaerat quod dicta quidem libero mollitia?Amet consequatur nesciunt officia temporibus dolorem eligendi. Iure animi voluptatum quia nesciunt mollitia. Saepe reiciendis commodi vel pariatur autem. Maxime qui eos voluptatum cupiditate itaque voluptatibus Sed voluptatibus aspernatur voluptates </div>
	<div id="second-content" class="content"> Consectetur alias distinctio molestiae aspernatur est? Saepe amet atque delectus perferendis aut! Laborum eaque exercitationem sit aperiam libero. Temporibus eius dicta impedit laboriosam labore deleniti cumque Iure consectetur nam a. </div>
	<div id="third-content" class="content"> Amet nam delectus accusamus saepe nemo. Laudantium consequuntur deleniti voluptatibus cupiditate odio sed ratione corrupti vel sint beatae Necessitatibus numquam perferendis alias consectetur deserunt repellendus Aspernatur rerum saepe magni aut?</div>
</div>
{% endblock  %}

<script src="{% static 'js/bga_parser.js' %}"></script>
