<div>
  <h5> Feedback </h5>
  <h6 class="fst-italic"> Verwirrt? Irgendwas Doof? Die richtige Seite nicht gefunden?</h6>
  <p> Schreib dich bitte ganz knapp, was dir hier fehlt. Und falls du einen Verbesserungsvorschlag hast, auch direkt
    rein. </p>

  <form action="feedback" method="POST" class=""> {% csrf_token %}
      <textarea name="" id="" cols="50" rows="10" class="w-100"></textarea>
      <button class="btn btn-md btn-info d-block" type="submit"> Feedback abschicken</button>
  </form>
{#  <p>#}
{#    Falls du Erfahrung in Webdesign oder Interface Design hast oder einfach ein gutes Auge für solche Dinge hast,#}
{#    nutze doch gerne das Kontaktformular. Vielleicht kannst du ja was zur Anwendung beisteuern.#}
{#    Die Kennerliga soll mittelfristig die Option liefern, Spielstatistiken auszuwerten. Falls du interessiert#}
{#    daran bist oder Ideen hast, was man alles so auswerten könnte oder wie man das umsetzen kann, schreib uns an. Wir#}
{#    brauchen dich :) </p>#}
</div>
