{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="home-content">
    <div class='grid-item center-content'>
    abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj sadfasd fsad fsa dfas dfas dfa sdfas df 
    abdskana ;aksd sadlkf jsadlfkj asldf kj 
    </div>
    <div class='grid-item sidebar-right'>
    abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj sadfasd fsad fsa dfas dfas dfa sdfas df 
    abdskana ;aksd sadlkf jsadlfkj asldf kj     abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj sadfasd fsad fsa dfas dfas dfa sdfas df 
    abdskana ;aksd sadlkf jsadlfkj asldf kj     abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj sadfasd fsad fsa dfas dfas dfa sdfas df 
    abdskana ;aksd sadlkf jsadlfkj asldf kj     abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj sadfasd fsad fsa dfas dfas dfa sdfas df 
    abdskana ;aksd sadlkf jsadlfkj asldf kj     abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj
    abdskana ;aksd sadlkf jsadlfkj asldf kj sadfasd fsad fsa dfas dfas dfa sdfas df 
    </div>
    <div class="grid-item bottom-content">
    Mara Mara     Mara Mara
    Mara Mara
    Mara Mara
    </div>
</div>

{% endblock  %}

