{% extends 'base.html' %}

{% load static %}
{% block content %}
  <div class="home-content">
    {% if open_season %}
      <div class="grid-item announce-content">
        {% include 'home/season_open.html' %}
      </div>
    {% endif %}

    <div class='grid-item center-content d-flex justify-content-center'>
      {% include 'home/current_season.html' %}
    </div>
    <div class='grid-item sidebar-right d-flex justify-content-center'>
      {% include 'home/year_standings.html' %}
    </div>
    <div class="grid-item bottom-content p-10">
      {% include 'home/feedback.html' %}
    </div>
  </div>

{% endblock %}

