.create-form-container {
    padding: 30px;
}

.create-form select,input {
    min-width: 150px;
}

.centered-flex-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content {
    padding: 50px;
}

.login-form-container {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
}

.login-form-container form {
	padding: 35px;
	min-width: 500px;
}

