:root {
  --kennerliga-red: #f60f61;
  --background-white: #ededed;
}

a:link{
	text-decoration: none;
}

a:hover{
	color:var(--kennerliga-red) !important;
}

/* Create Form */
.create-form-container {
    padding: 30px;
}

.create-form select,input {
    min-width: 150px;
}

/* Main content */
.main{
}

/* Login */
.login-form-container {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
}

.login-form-container form {
	padding: 35px;
	min-width: 500px;
}

