:root {
    --kennerliga-red: #f60f61;
    --background-white: #eee;
}

/* Create Form */
.create-form-container {
    padding: 30px;
}

.create-form select, input {
    min-width: 150px;
}

/* Main content */
.main {
    padding: 25px;
}

/* Login */
.login-form-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.login-form-container form {
    padding: 35px;
    min-width: 500px;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: var(--kennerliga-red) !important;
}

table th, td {
    padding: 8px;
}


table tr:nth-child(even) {
    background-color: var(--background-white);
}

