/* Homepage */
.home-content{
	display: grid;
	gap: 10px;
    padding: 10px;
    background-color: var(--kennerliga-red);
}   

.grid-item {
    background-color: var(--background-white);
    text-align: center;
    padding: 15px;
    margin: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.center-content {
    grid-column: 1 / span 4;
    grid-row: 1/8
}

.bottom-content {
    grid-column: 1/6;
    grid-row: 8 / 11;
}

.sidebar-right {
    grid-column: 5;
    grid-row: 1 / 8;
}

.home div { 
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
