// app global css in SCSS form
* {
  box-sizing: border-box;
}

.border-primary {
  border-color: $primary !important;
}

.border-secondary {
  border-color: $secondary !important;
}

.border-accent {
  border-color: $accent !important;
}

.border-dark {
  border-color: $dark !important;
}

.border-dark-page {
  border-color: $dark-page !important;
}

.border-positive {
  border-color: $positive !important;
}

.border-negative {
  border-color: $negative !important;
}

.border-info {
  border-color: $info !important;
}

.border-warning {
  border-color: $warning !important;
}


.border-1 {
  border-style: solid;
  border-width: 1px;
}


.border-2 {
  border-style: solid;
  border-width: 1px;
}


.border-3 {
  border-style: solid;
  border-width: 1px;
}


.border-4 {
  border-style: solid;
  border-width: 1px;
}
