// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

$primary: #37474f; // Teal 700 - Distinctive and clean
$secondary: #c76c26;
$accent: #5e35b1;

$dark: #4d4949;
$dark-page: #121212;

$positive: #4bb26a;
$negative: #d63a38;
$info: #4A90E2;
$warning: #facb48;
