// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

$primary   : #4d4949;
$secondary : #c76c26;
$accent    : #472d49;

$dark      : $primary;
$dark-page : #121212;

$positive  : #37a751;
$negative  : #f8001d;
$info: #2f3950;
$warning   : #facb48;
