{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'administration:manage' %}">
    <button class="btn btn-md btn-outline-secondary mb-3"><i class="bi bi-arrow-left"></i>
      Zurück zur Verwaltung
    </button>
  </a>
  <h1> Spielerliste </h1>
  <table class="table table-hover">
    <th> Username</th>
    <th> BGA Name</th>
    <th> Email</th>
    {% for user in object_list %}
      <tr>
        <td><a href="{% url 'user:profile' user.id %}"> {{ user.username }} </a> </td>
        <td> {{ user.bga_name }}</td>
        <td> {{ user.email }}</td>
        {% empty %}
        Keine Personen registriert.
      </tr>
    {% endfor %}
  </table>
{% endblock %}