{% load static %}

<div id='navbar' class="navbar">
  <div class="nav-main">
    <a class="nav-element" href="{% url 'home' %}"><i class="bi bi-house-fill"></i></a>
    {% if request.user.is_superuser %}
      <a href="{% url 'management:manage' %}" class="nav-element"> <i class="bi bi-grid-3x3-gap-fill"></i></a>
    {% endif %}
  </div>
  <div class='nav-title fs-3'>
    Kennerliga
  </div>
  <div class="nav-right">
    {% if request.user.is_authenticated %}
      <a class="nav-element" href="{% url 'user:profile' pk=request.user.pk %} ">
        <span class="nav-username"><i class='bi bi-person-fill'></i></span>
      </a>
      <a class="d-flex align-items-center me-2 nav-element" href="{% url 'logout' %}"> <i
          class="bi bi-box-arrow-right"></i> </a>
    {% else %}
      <a class="nav-element btn btn-sm btn-info" href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</div>
