.management-content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.management-item {
    font-size: 35px;
    border: 5px solid var(--background-white);
    padding: 20px;
    margin: 15px 50px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    color: #2d2d2d;
}